<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module Assignment6_web_help</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>Assignment6_web_help</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/Users/niklasalexsander/iCloud%20Drive%20%28arkiv%29/Documents/Dokumenter/IN3110-tasks/assignment6/Assignment6_web_help.py">/Users/niklasalexsander/iCloud Drive (arkiv)/Documents/Dokumenter/IN3110-tasks/assignment6/Assignment6_web_help.py</a></font></td></tr></table>
    <p><tt>This&nbsp;is&nbsp;just&nbsp;a&nbsp;helping-module&nbsp;to&nbsp;import&nbsp;all&nbsp;the&nbsp;modules&nbsp;used&nbsp;in&nbsp;this&nbsp;package.<br>
&nbsp;<br>
It's&nbsp;used&nbsp;get&nbsp;a&nbsp;'better'&nbsp;overview&nbsp;of&nbsp;the&nbsp;different&nbsp;modules</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="data.html">data</a><br>
</td><td width="25%" valign=top><a href="fitting.html">fitting</a><br>
</td><td width="25%" valign=top><a href="visualize.html">visualize</a><br>
</td><td width="25%" valign=top><a href="web_visualization.html">web_visualization</a><br>
</td></tr></table></td></tr></table>
</body></html>